{% extends "basic.html" %}
{% block body %}
<!-- End navigation -->
<div class='grid-x text-center' style="color: #CCC; background-color: #000;">
    <div class="cell small-12 preview-article">
        <div class='grid-x grid-padding-y'>

            <div class='cell small-12'><h1 style="font-family: 'Alfa Slab One';">{{ page_header }}</h1>
            </div>


            <div class='cell small-12 text-left text-container'>
                <div class="article-title"><a href='{{article["href"]}}' style="font-family: 'Alfa Slab One';">{{article["title"]}} </a>
                </div>
                {{article["author"]}} / {{ article["publication"] }} </a></div>
            <!-- <div class="article-preview" style="font-family: 'Brawler';">
                 article["content"]
            </div> -->
            <div class="form-wrapper" style="font-weight: 900; width: 100%;">
                <form action='{{ url_for("classify")}}' method="POST" id="classify_form">
                    <fieldset class="cell medium-12">
                            <textarea name="edited_text" contenteditable="true" rows="20" style="background-color: #000; color: #FFF;"> {{ article["content"] }}
                            </textarea>
                    </fieldset>
                    <fieldset class="cell medium-12" style="padding: 1.5em;">
                        <legend>Obama</legend>
                        <input type="hidden" name="article_id" value='{{ article["df_index"] }}' id="article_id">
                        <select name="classification_o">
                            <option value="dm">Doesn't mention</option>
                            <option value="vpos">Very positive</option>
                            <option value="pos">Supportive</option>
                            <option value="neu">Neutral/Objective</option>
                            <option value="neg">Critical</option>
                            <option value="vneg">Very negative</option>
                        </select>

                    </fieldset>
                    <fieldset class="cell medium-12" style="padding: 1.5em;">
                        <legend>Clinton</legend>

                        <select name="classification_c">
                            <option value="dm">Doesn't mention</option>
                            <option value="vpos">Very positive</option>
                            <option value="pos">Supportive</option>
                            <option value="neu">Neutral/Objective</option>
                            <option value="neg">Critical</option>
                            <option value="vneg">Very negative</option>
                        </select>

                    </fieldset>
                    <fieldset class="cell medium-12" style="padding: 1.5em;">
                        <legend>Trump</legend>
                        <select name="classification_t">
                            <option value="dm">Doesn't mention</option>
                            <option value="vpos">Very positive</option>
                            <option value="pos">Supportive</option>
                            <option value="neu">Neutral/Objective</option>
                            <option value="neg">Critical</option>
                            <option value="vneg">Very negative</option>
                        </select>
                    </fieldset>

                    <div class="cell medium-12">
                        <input type="submit" class="button" value="submit">
                    </div>
                </form>
            </div>


            <!-- closes grid-x -->

        </div>
    </div>
    <!-- closes grid-x -->

</div>
<!-- closes small-6 cell  -->

</div>

{% endblock %}
